.box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    width: 600px;
    height: 60px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 75px;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.inputt {
    width: 600px;
    height: 40px;
}

.flex{
    flex-direction: row;
    display: flex;
    list-style: none;

}

.butom {
    width: 200px;
    height: auto;
    margin: auto;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.inp{
    width: 550px;
    height: 40px;
}

button {
 display: flex;

}

.x {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}